body{
  margin:0;
  font-family: 'Comfortaa', sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: #0b051b;
}
.titulo{
  font-size: 36px;
}
/*-------------------Inicio*/
/* NAVBAR PERSONALIZADA */
header {
display: flex;
position: fixed;
width: 100%;
height: 70px;
background: #0b051b;
justify-content: center;
align-items: center;
color: #f8f9f4;
font-weight: bold;
font-size:22px;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
header span{
margin-left: 40px;
}
#nav-container {
position: fixed;
height: 100vh;
width: 100%;
pointer-events: none;
}
#nav-container .bg {
position: absolute;
top: 70px;
left: 0;
width: 100%;
height: calc(100% - 70px);
visibility: hidden;
opacity: 0;
transition: .3s;
background: #000;
}
#nav-container:focus-within .bg {
visibility: visible;
opacity: .6;
}
#nav-container * {
visibility: visible;
}

.button {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
z-index: 1;
-webkit-appearance: none;
border: 0;
background: transparent;
border-radius: 0;
height: 70px;
width: 30px;
cursor: pointer;
pointer-events: auto;
margin-left: 25px;
touch-action: manipulation;

-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
display: block;
width: 100%;
height: 3px;
background: #f8f9f4;
transition: .3s;
background-color: #ffffff;
}
.icon-bar + .icon-bar {
margin-top: 5px;
}

#nav-container:focus-within .button {
pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
margin-top: 70px;
padding: 20px;
width: 90%;
max-width: 300px;
position: absolute;
top: 0;
left: 0;
height: calc(100% - 70px);
background: #fefdfd;
pointer-events: auto;
-webkit-tap-highlight-color: rgba(0,0,0,0);
transform: translateX(-100%);
transition: transform .3s;
will-change: transform;
contain: paint;
}

#nav-content ul {
height: 100%;
display: flex;
flex-direction: column;
list-style: none;
justify-content: center;
}


#nav-content li a {
padding: 10px 5px;
display: block;
text-transform: uppercase;
transition: color .1s;
text-decoration: none;
color: #0b051b
}

#nav-content li a:hover {
color: #41219b;
}

#nav-content li:not(.small) + .small {
margin-top: auto;
}

.small {
display: flex;
align-self: center;
}

.small a {
font-size: 12px;
font-weight: 400;
color: #888;
}
.small a + a {
margin-left: 15px;
}

#nav-container:focus-within #nav-content {
transform: none;
}
/**/
.espacar{
  width:100%;
  height: 80px;
  color: #02164c;
}

.resultado{
  display: none;
}

.informacoes{
  width:80%;
  height: 490px;
  margin: auto;
  display:flex;
  align-items:center;
  justify-content:space-evenly;
  flex-direction:column;
  color: #f8f9f4;
  text-align:justify;
}

.informacoes span{
  text-align:justify;
  font-size: 14px;

}

#select_hora{
  border-radius:20px;
  background-color: #ffffff7f;
  height:40px;
  width:140px;
  margin-bottom: 8px;
  outline:0;
  font-size: 20px;
  text-align:center;

}
.buttons-principais{
  height:35px;
  width:140px;
  margin-top:2%;
  border-radius:20px;
  background-color: #2E1570;
  color: #ffffff;
  font-weight: bold;
  font-size:16px;
  border:0;
}

.buttons-principais:hover{
  background-color: #ffffff;
  color: #2E1570;
}

#div_botao{
  width:100%;
  display: flex;
  justify-content: space-between;
}

.opcao{
  font-size: 35px;
}

#select_hora option{
  border:20px solid rgb(219, 228, 240);
  outline:none;
}

#resultado{
  display: none;
  width: 70%;
  height: 300px;
  margin-top: 40px;
}
.tabela{
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  border-collapse: collapse;
}
.tabela th{
  background-color: #0b051b;
  height: 40px;
}
.ciclo-bom{
  background-color: #42ac21;
}
.ciclo-medio{
  background-color: #b7bd13;
}
.ciclo-ruim{
  background-color: #c25d5dc4
}

/*-------------------Dashboard*/
.container-estatisticas{
  width:80%;
  height: 490px;
  margin: auto;
  display:flex;
  justify-content:space-evenly;
  flex-direction:column;
  color: #f8f9f4;
  text-align:justify;
}
.grafico{
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.grafico1{
  width: 40%;
  height: 40;
}
.grafico2{
  width: 40%;
  height: 40%;
  margin-left: 60%;
}

#nome_usuario{
  text-transform: capitalize;
}

/*CURIOSIDADES*/
.container-curiosidades{
  width: 80%;
  height: 100vh;
  display:flex;
  flex-direction: column;
  margin: auto;
  color: #ffffff;
}

.container-curiosidades a{
  color: #2E1570;
}
.fileira{
  display:flex;
  justify-content: space-between;
  height: 100vh
}
.card{
  height: 80%;
  width: 35%;
  padding: 10px;
  border-radius: 15px;
  background-color: #2E1570 ;
  box-shadow: #3a3e484b 8px 5px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  font-weight: 200;
}
.card span{
  width: 80%;
  text-align: center;
}

.card:hover{
  background-color: #ffffff;
  color: #2E1570;
}
h1{
  color: #ffffff;
}
.aviso{
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: 4px;
}