body{
  margin:0;
  font-family:'Comfortaa', cursive;
}
/*SCROLL */
body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #0b051b;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #2e1570;    /* color of the scroll thumb */
  border-radius: 10px;     /* creates padding around scroll thumb */
}

/*---------------------INICIO*/
.corpo{
  background:url("./../assets/img/inicio/night.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;

}

.navbar{ 
  height:80px;
  display:flex;
  margin-left: 80px;
}
.navbar span{
  display:flex;
  align-items: center;
  height:100%;
  width:80%;
  margin:auto;
  color: #ffffff;
  font-weight: bolder;
  font-size:34px;
}

  .flutuar{
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  }
.flutuar:hover{
  -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px);
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
}


.container1{
  display:flex;
  align-items: center;
  justify-content:space-around;
  flex-direction: column;
  height:490px;  
}

.slogan{
  display:flex;
  font-weight: bold;
  text-align: center;
  font-size: 54px;
  width: 40%;
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  position: relative;
  top: 22%;
  text-shadow: 
               -1px -1px 0px #3561a0, 
               -1px 1px 0px #3561a0,                    
                1px -1px 0px #3561a0,                  
                1px 0px 0px #3561a0;
}

.navegacao{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  top: 88%;
  left: 50%;
}
.navegacao a{
  font-weight: bold;
  font-size:25px;
  color: #ffffff;
  text-decoration: none;
}


.container2{
  background-color: #0b051b;
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  
}
.container2.box{
  width: 80%;
  margin:auto;
}

#info1{
  display:flex;
  justify-content: space-around;
  align-items:center;
}
.missao{
  margin-right: 40px;
}

.missao h2{
  font-size:42px;
  font-weight: bold;
}
.missao span{
  text-align:justify;
  width: 80px;
  font-size:22px;
}
#info2{
  display:none;
  justify-content: space-around;
  align-items:center;

}


.footer{
  border-top: 1px #252831 solid;
  background-color: #f7f3f3;
  color:#252831;
  height: 80px;
  display:flex;
  justify-content: center;
  align-items:center;
  text-align:center;
  font-weight: bold;
}

.bolinha{
  display:flex;
  justify-content: center;
  align-items: top;
  height: 40px;
  width: 100%;
  background-color: #0b051b;
}

#primeiraBolinha{
  background-color: #f7f3f3;
  border: 1px solid rgba(128, 128, 128, 0.875);
  height:20px;
  width:20px;
  border-radius: 50%;
  margin-right: 5%;
}

#segundaBolinha{
  background-color: #f7f3f3;
  border: 1px solid rgba(128, 128, 128, 0.875);
  height:20px;
  width:20px;
  border-radius: 50%;
}
/*ERROS*/

#cardErroEmail, #cardErroSenha, #cardErroNome, #cardErroConfirmacaoSenha, #cardErroGenero{
  display: none;
  font-size: 14px;
  color:red;

}

/*LOGIN-----------------------------------------------------------*/
.login{
  display:flex;
  align-items:center;
  flex-direction:column;
  background-color: #ffffff;
  opacity: 0.9;
  border-radius:5px;
  color: #252831;
  width:40%;
  box-shadow: #2528314b 8px 5px;
  position:absolute;
  bottom: 30%;
}

.input{
  width: 60%;
  display: flex;
  align-items:center;
  flex-direction:column;
  border-top: 40px;
}
.input form{
  width:100%;
}
.input form input{
  width:100%;
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
  border-radius: 20px;
  height:30px;
  margin-top:1%;
  margin-bottom:2%;
  outline: none;
  border: 4px solid #B9E2FF;
  text-align: center;
  background-color: #FFFFFF;
}
.container2-login{
  background-color: #d9e3f0;
  height: 200px;
}
button{
  height:40px;
  width:140px;
  margin-top:1%;
  margin-bottom: 3%;
  border-radius:20px;
  background-color: #C3FFC1;
  color: #252831;
  font-weight: bold;
  font-size:16px;
  border:0;
}
/*CADASTRO*/
.cadastro{
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction:column;
  background-color: #ffffff;
  opacity: 0.9;
  border-radius:5px;
  color: #252831;
  height:80%;
  width:40%;
  position: absolute;
  bottom : 15%;
  box-shadow: #2528314b 8px 5px;
}

.cadastro button{
  height:40px;
  width:140px;
  margin-top:1%;
  border-radius:20px;
  background-color: #C3FFC1;
  color: #252831;
  font-weight: bold;
  font-size:16px;
  border:0;
}

#genero_select{
  width:460px;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius: 20px;
  height:40px;
  margin-top:1%;
  margin-bottom:20px;
  outline: none;
  border: 4px solid #B9E2FF;
  text-align: center;
  background-color: #FFFFFF;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}