body{
  margin:0;
  font-family:'Comfortaa', cursive;
}

/*---------------------INICIO*/
.corpo{
  background:url("./../assets/img/banner.png") no-repeat;
  background-color: #f7f3f3;
  background-size: auto;
  background-position: 20% 30%;
}
.navbar{ 
  height:80px;
  display:flex;
  margin-left: 80px;
}
.navbar span{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:80px;
  color: #252831;
  background-color: #d9e3f0;
  font-weight: bolder;
  font-size:54px;
  box-shadow: #2528313b 8px 5px;;
}
.agora{
  font-weight: bold;
  color: #C3FFC1;
}

.navbar a {
  text-decoration: none;
  color: #B9E2FF;
}


.container1{
  display:flex;
  align-items: center;
  justify-content:space-around;
  flex-direction: column;
  height:490px;  
}

.slogan{
  display:flex;
  position: relative;
  top: 30%;
  margin-left:38%;
  font-weight: bold;
  text-align: justify;
  font-size: 32px;
  width: 450px;
  color: #252831;
}

.navegacao{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 34%;
  margin-left: 50%;
  text-decoration: none;
  border-bottom: 2px #252831 solid;
}
.navegacao a{
  font-weight: bold;
  font-size:25px;
  color: #252831;
  text-decoration: none;
}
.navegacao.dologin{
  width: 80%;
  margin-top: 19.8%;
  margin-left: 100%;
}


.container2{
  background-color: #d9e3f0;
}
.container2.box{
  width: 80%;
  margin:auto;
  display:flex;
  justify-content: space-around;
  align-items:center;
}
.missao{
  margin-right: 40px;
}

.missao h2{
  font-size:42px;
  font-weight: bold;
}
.missao span{
  text-align:justify;
  width: 80px;
  font-size:22px;
}


.footer{
  border-top: 1px #252831 solid;
  background-color: #f7f3f3;
  color:#252831;
  height: 80px;
  display:flex;
  justify-content: center;
  align-items:center;
  text-align:center;
  font-weight: bold;
}

/*LOGIN*/
.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.login{
  display:flex;
  align-items:center;
  flex-direction:column;
  background-color: #ffffff;
  opacity: 0.9;
  border-radius:5px;
  color: #252831;
  height:85%;
  width:50%;
  box-shadow: #2528314b 8px 5px;
}
.login h1{
  font-weight:bolder;
}
.input{
  width: 60%;
  display: flex;
  align-items:center;
  flex-direction:column;
  border-top: 40px;
}
.login label{
  font-weight: bold;
}
.input form{
  width:100%;
}
.input form input{
  width:100%;
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
  border-radius: 20px;
  height:30px;
  margin-top:1%;
  margin-bottom:20px;
  outline: none;
  border: 4px solid #B9E2FF;
  text-align: start;
  background-color: #FFFFFF;
}
#div_erros_login {
  margin-top: 15px;
}
button{
  height:40px;
  width:140px;
  margin-top:1%;
  border-radius:20px;
  background-color: #C3FFC1;
  color: #252831;
  font-weight: bold;
  font-size:16px;
  border:0;
}

/**/
.login_cadastro{
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction:column;
  background-color: #ffffff;
  opacity: 0.9;
  border-radius:5px;
  color: #252831;
  height:85%;
  width:35%;
}

.login_cadastro button{
  height:40px;
  width:140px;
  margin-top:1%;
  border-radius:20px;
  background-color: #C3FFC1;
  color: #252831;
  font-weight: bold;
  font-size:16px;
  border:0;
}

/*-------------------Inicio*/
.navbar.inicio{
  background-color:#B9E2FF;
  color: #252831; 
  height:80px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.user{
  height:50px;
}

.informacoes{
  width:80%;
  height: 590px;
  margin: auto;
  display:flex;
  align-items:center;
  justify-content:space-evenly;
  flex-direction:column;
}

.informacoes span{
  text-align:justify;
  font-size: 20px;

}

#select_hora{
  border-radius:20px;
  background-color: #d9e3f0;
  border: 1px solid  #d9e3f0;
  height:40px;
  width:140px;
  outline:0;
  font-size: 20px;
  text-align:center;

}

#div_botao{
  width:100%;
  display: flex;
  justify-content: space-around;
}

#select_hora option{
  border:20px solid #d9e3f0;
  outline:none;
}
